*{
margin: 0;
padding: 0;
}

@font-face {
  font-family: manrope;
  src: url(fonts/Manrope-Regular.woff);
}

@font-face {
  font-family: manropebold;
  src: url(fonts/Manrope-ExtraBold.woff);
}

@keyframes blink {
  0% {opacity: 1}
  12.5% {opacity: 0.7}
	25% {opacity: 0.5}
  37.5% {opacity: 0.3}
  50% {opacity: 0}
}

@keyframes fadeIn {
  0% {opacity: 0}
  6.25% {opacity: 0.15}
  12.5% {opacity: 0.3}
  18.75% {opacity: 0.4}
  25% {opacity: 0.5}
  31.25% {opacity: 0.6}
  37.5% {opacity: 0.7}
  43.75% {opacity: 0.8}
  50% {opacity: 1}
}

body {
  font-family: manrope;
  background-color: #EEEEEE;
}

.theme-icon {
  float: left;
  width: 38px;
  margin-left: 18px;
  margin-top: 18px;
  cursor: pointer;
}

.header {
  padding: 7px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.footer {
  padding: 10px;
  text-align: center;
  background: transparent;
  color: #141414;
  font-size: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin-bottom: 50px;
}

.group .button {
  background-color: transparent;
  border: 3px solid transparent;
  border-radius:23px;
  color: #141414;
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
  font-family: manropebold;
  font-weight: bold;
  margin: 4px 8px;
  transition: 0.3s;
  cursor: pointer;
}

.group .button:hover {
  color: #166123;
  text-decoration: underline;
}

.title {
  font-size: 55px;
  font-weight: bold;
  color: #141414;
  text-align: center;
  margin-top: 200px;
}

.htitle {
  font-size: 55px;
  font-weight: bolder;
  color: #166123;
  font-family: manropebold;
}

.description {
  font-size: 24px;
  color: #141414;
  text-align: center;
  margin-top: 10px;
}

.hdesc {
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  font-weight: bolder;
  color: #166123;
  font-family: manropebold;
}

.uscore {
  font-size: 55px;
  font-weight: bolder;
  color: #49bafc;
  font-family: manropebold;
  transition: 0.3s;
  animation: blink 0.7s infinite;
}

.icon-container {
  float: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  display: block;
  text-align: center;
}

.icon {
  width: 42px;
  cursor: pointer;
}

.icon:hover{opacity: 0.5;}

hr {
  border: 0;
  border-top: 3px solid #141414;
  width: 543px;
  float: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.review-container {animation: fadeIn 1s;}

.review {
  font-family: "manrope";
  font-size: 20px;
  color: #141414;
  background-color: #d1d1d1;
  padding: 20px;
  width: 420px;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 100px;
  float: center;
  text-align: left;
}

.review-title {
  font-size: 27px;
  color: #141414;
  font-family: "manropebold";
  margin-left: -5px;
}

hi {
  color: #166123;
  text-decoration: underline;
}

.review-author {
  font-size: 23px;
  color: #141414;
  font-family: "manropebold";
  margin-left: 5px;
}

.rai {
  border-radius: 50%;
  display: block;
  align-items: center;
  left: 0;
  width: 30px;
  float: left;
  margin-right: 9px;
}
