*{
margin: 0;
padding: 0;
}

@font-face {
  font-family: manrope;
  src: url(/fonts/Manrope-Regular.woff);
}

@font-face {
  font-family: manropebold;
  src: url(/fonts/Manrope-ExtraBold.woff);
}

@keyframes blink {
  0% {opacity: 1}
  12.5% {opacity: 0.7}
  25% {opacity: 0.5}
  37.5% {opacity: 0.3}
  50% {opacity: 0}
}

@keyframes fadeIn {
  0% {opacity: 0}
  6.25% {opacity: 0.15}
  12.5% {opacity: 0.3}
  18.75% {opacity: 0.4}
  25% {opacity: 0.5}
  31.25% {opacity: 0.6}
  37.5% {opacity: 0.7}
  43.75% {opacity: 0.8}
  50% {opacity: 1}
}

body {
  font-family: manrope;
  background-color: #141414;
}

.theme-icon {
  float: left;
  width: 38px;
  margin-left: 18px;
  margin-top: 18px;
  cursor: pointer;
}

.header {
  padding: 7px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.footer {
  padding: 10px;
  text-align: center;
  background: transparent;
  color: #757575;
  font-size: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin-bottom: 50px;
}

.group .button {
  background-color: transparent;
  border: 3px solid transparent;
  border-radius:23px;
  color: #757575;
  padding: 10px 20px;
  text-align: center;
  font-size: 20px;
  font-family: manropebold;
  font-weight: bold;
  margin: 4px 8px;
  transition: 0.3s;
  cursor: pointer;
}

.group .button:hover {
  color: #21d3bb;
  text-decoration: underline;
}

.q-button {
  background-color: transparent;
  border: none;
  color: #21d3bb;
  font-size: 60px;
  font-family: manropebold;
  transition: 0.3s;
  display: block;
  cursor: pointer;
  margin-top: -25px;
  left: 0;
}

.q-button:hover {
  color: white;
}

.title {
  font-size: 55px;
  font-weight: bold;
  color: #757575;
  text-align: center;
  margin-top: 140px;
}

.htitle {
  font-size: 55px;
  font-weight: bolder;
  color: #21d3bb;
  font-family: manropebold;
}

.container {
  width: 750px;
  text-align: left;
  margin: auto;
  font-size: 18px;
  color: #757575;
}

hi {
  color: #21d3bb;
  font-family: manropebold;
}

.subtitle {
  font-size: 27px;
  font-weight: bold;
  color: #757575;
  left: 0;
}

.question-asked {
  font-size: 18px;
  font-weight: bold;
  font-family: manropebold;
  color: #21d3bb;
  text-align: left;
  float: center;
  left: 0;
}

.label {
  font-size: 18px;
  font-weight: bold;
  color: #21d3bb;
  font-family: manropebold;
}

.lang {
  font-size: 18px;
  font-weight: bold;
  color: #fdff73;
  font-family: manropebold;
}

.hdesc {
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  font-weight: bolder;
  color: #21d3bb;
  font-family: manropebold;
}

.uscore {
  font-size: 55px;
  font-weight: bolder;
  color: #49bafc;
  font-family: manropebold;
  transition: 0.3s;
  animation: blink 0.7s infinite;
}

.socmed {
  font-size: 22px;
  font-weight: bolder;
  font-family: manropebold;
  color: white;
  text-decoration: underline;
  margin-right: 13px;
  transition: 0.2s;
}

.socmed.github:hover{color: #333;}
.socmed.twitter:hover{color: #1DA1F2;}
.socmed.email:hover{color: #f22e45;}

hr {
  border: 0;
  border-top: 3px solid #757575;
  width: 750px;
  float: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}
